<div class="container">
  <!-- Liste des résidences -->
  <div class=" mt-4">
      <label class="section-heading">Liste des résidences</label>
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Adresse</th>
                  <th>Image</th>
                  <th style="text-align: center; font-weight: bold;">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let residence of listResidences">
                  <td>{{ residence.id }}</td>
                  <td>{{ residence.name }}</td>
                  <td>{{ residence.address }}</td>
                  <td>{{ residence.image }}</td>
                  <td style="text-align: center;">
                      <button class="btn btn-outline-info spaced-btn" (click)="show(residence)">Afficher</button>
                      <button class="btn btn-outline-success spaced-btn" (click)="add(residence)">Ajouter</button>
                      <button class="btn btn-outline-secondary spaced-btn" [routerLink]="['/apartments', residence.id]">Détails</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="no-data" *ngIf="listResidences.length === 0">Aucune résidence trouvée</div>
  </div>

  <!-- Liste des appartements -->
  <div class=" mt-4">
      <label class="section-heading">Liste des appartements</label>
      <table class="table" *ngIf="listApartments.length > 0">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Numéro de l'appartement</th>
                  <th>Numéro d'étage</th>
                  <th>Surface</th>
                  <th>Terrasse</th>
                  <th>Surface de la terrasse</th>
                  <th>Catégorie</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let apartment of listApartments">
                  <td>{{ apartment.id }}</td>
                  <td>{{ apartment.appartNum }}</td>
                  <td>{{ apartment.floorNum }}</td>
                  <td>{{ apartment.surface }}</td>
                  <td>{{ apartment.terrace }}</td>
                  <td>{{ apartment.surfaceTerrace }}</td>
                  <td>{{ apartment.category }}</td>
                  <td>{{ apartment.description }}</td>
              </tr>
          </tbody>
      </table>
      <div class="no-data" *ngIf="listApartments.length === 0">Aucun appartement trouvé</div>
  </div>
</div>
