<div class="container">
    <div class="row  mt-4">
      <!-- FormControl -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">FormControl</h3>
            <form>
              <div class="form-group">
                <label for="login">Login</label>
                <input id="login" class="form-control" type="text" placeholder="Login" [formControl]="login" >
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" placeholder="Password" [formControl]="password">
              </div>
              <button class="btn btn-primary  mt-2" type="button" (click)="save()" >Save</button>
            </form>
          </div>
        </div>
      </div>
      
      <!-- FormGroup -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">FormGroup</h3>
            <form [formGroup]="registerForm">
              <div class="form-group">
                <label for="loginFormGroup">Login</label>
                <input id="loginFormGroup" class="form-control" type="text" placeholder="Login" formControlName="login">
               <div *ngIf="registerForm.get('login')?.invalid && (registerForm.get('login')?.dirty
                     || registerForm.get('login')?.touched)" class="alert alert-danger">
                  <div *ngIf="registerForm.get('login')?.hasError('required')">Login is required</div>
                  <div *ngIf="registerForm.get('login')?.hasError('minlength')">Login must be at least 6 characters long</div>
               </div>

              </div>
              <div class="form-group">
                <label for="passwordFormGroup">Password</label>
                <input id="passwordFormGroup" class="form-control" type="password" placeholder="Password" formControlName="password">
                <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty
                      || registerForm.get('password')?.touched)" class="alert alert-danger" >
                  <div *ngIf="registerForm.get('password')?.hasError('required')">Password is required</div>
                  <div *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long</div>
                  <div *ngIf="registerForm.get('password')?.hasError('pattern')">Password pattern</div>
                </div>
              </div>
              <button class="btn btn-primary  mt-2" type="button" (click)="save()" >Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  